@media screen and (max-width:1400px){
    .footer-container{
        margin: 0 auto !important;
    }
    .main-content-right{
        display: none !important;
    }
    .content-headline:nth-child(2){
        padding-bottom: 17px !important;
    }
    .container-header{
        max-width: 984px !important;
    }
    .container-content{
        max-width: 984px !important;
        align-items: center !important;
    }
    .main-content-left{
        margin: 0 auto !important;
    }
    .content-btn{
        margin-right: 50px !important;
    }
    .main-content-right{
        display: none;
    }
    .about-us-container{
        max-width: 984px !important;
    }
    .adv-container{
        max-width: 984px !important;
    }
    .fleet-swiper{
        max-width: 36.15vw !important;
    }
    .fleet{
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin: 0 auto !important;
    }
    .fleet-container{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 200px !important;
    }
    .footer-container{
        max-width: 984px !important;
    }

}
@media screen and (max-width:1400px){
    .content{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
@media screen and (max-width:1024px){
    .navigation-image{
        display: none !important;
    }
    .content img{
        display: none !important;
    }
    .container-content{
        padding: 0px !important;
        padding-top: 253px !important;
    }
    .about-us-container{
        padding: 0px !important;
    }
    .adv-container{
        padding: 0px !important;
    }
    .about-us{
        padding-top: 66px !important;
    }
    .fleet-nav-div{
        display: none !important; 
    }
}
@media screen and (max-width:963px) {
    .adv-list{
        padding-top: 123px !important;
    }
    .adv-container a{
        padding-bottom: 23px !important;
        padding-left: 15px !important;
    }
    .adv-container{
        margin: 0 auto !important;
    }
    .adv-headline{
        padding-left: 15px !important;
    }
    .adv-list{
        padding-left: 15px !important;
    }
    .about-us-headline{
        padding-left: 15px !important;
    }
    .about-us-text{
        padding-left: 15px !important;
    }
    .btn{
        padding-left: 15px !important;
    }
}

@media screen and (max-width:889px){
    .content-btn{
        padding-top: 70px !important;
        margin-right: 0px !important;
    }
    .content-headline{
        padding-bottom: 50px !important;
    }
    .main-content-left{
        display: flex !important;
        justify-items: center !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin: 0 auto !important;
    }
    .content-headline:nth-child(1){
        padding-bottom: 17px !important;
        margin: 0 auto !important;
    }
    .container-content{
        padding-top: 175px !important;
        padding-bottom: 100px !important;
        margin: 0 auto !important;
    }
    .content-headline{
        display: flex !important;
        justify-content: center !important;
        margin-right: 0px !important;
        width: 0% !important;
        margin-right: 0px !important;
    }
    .content-headline:nth-child(2){
    margin-right: 0px !important;
    }
}
@media screen and (max-width:754px){
    .nav-list{
        display: none !important;
    }
    .burger{
        display: block !important;
    }
}
@media screen and (max-width:785px) {
    .spp{
        display: flex !important;
        justify-content: center !important;
    }
}
@media screen and (max-width:545px) {
    .content-headline{
        font-size: 30px !important;
    }
}
@media screen and (max-width:529px) {
    .spp{
        display: flex !important;
        flex-direction: column !important;
    }
    .content-btn{
        padding-top: 0px !important;
    }
    .content-headline{
        margin: 0px !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .content-headline:nth-child(2){
        margin: 0px !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
@media screen and (max-width:509px){
    .adv-list{
    padding-top: 170px !important;
    } 
}
@media screen and (max-width:509px){
    .container-header{
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 auto !important;
    padding: 0px !important;
    }
}
@media screen and (max-width:497px){
    .content-headline{
        font-size: 25px !important;
    }
    .container-content{
        margin: 0 auto !important;
    }
    .container-header{
        width: 0% !important;
        margin: 0px !important;
    }
    header{
        width: 0% !important;
    }
}
@media screen and (max-width:423px){
    .adv-list{
        padding-top: 254px !important;
    }
}
@media screen and (max-width:330px) {
    .section-wrapper h2{
        padding-left: 5px !important;
    }    
    .content-text{
        padding-left: 5px !important;
    }
    .adv-container a{
        padding-right: 8px !important;
        padding-left: 10px !important;
    }

}
.app{
    background-color: #111;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    user-select: none;
}
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background: #111;
}
body::-webkit-scrollbar-thumb {
    background-color: #94e817;
    border-radius: 10px;
}
header{
    width: 100%;
    left: 0;
    position: fixed;
    background-color: #212121;
    z-index: 99;
    padding-bottom: 30px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1372px;
    width: 100% ;
    margin: 0 auto;
}
.container-header{
    display: flex;
    justify-content: space-between;
    max-width: 1372px;
    width: 100% ;
    margin: 0 auto;
    padding: 0px 20px;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 36px;
}
.nav-item{
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    font-family: "Montserrat";
    color: #FFFFFF;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    padding-bottom: 3px;
    transition: 0.1s;
}
.nav-item:hover {
    color: #1da2b4;
    transition: 0.1s;
}
.nav-item-a{
    text-decoration: none;
}
.burger-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: end;
}
.burger{
    display: none;
    justify-content: end;
}
.nav-list1{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}
.nav-item1{
    color: #fff;
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 50px;
}
.nav-item-a1{
    text-decoration: none;
}
main{
    width: 100%;
}
.main-content{
    background-image: url(img/map1.png);
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover;
}
.container-content{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1372px;
    width: 100% ;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
}
.main-content-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 961px;
    width: 100%;
    height: 296px;
    left: 193px;
    top: 452px;
}
.swiper{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.swiper-wrapper{
    border-radius: 3px;
}
.swiper-slide{
    object-fit: cover;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.swiper-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 694px;
    width: 100%;
    background-color: #000;
    object-fit: cover;
    height: 70px;
    margin: 0px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 26px;
}
.swiper-img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.content-headline{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 17px;
    max-width: 871px;
    min-width: 497px;
    width: 100%;
    max-height: 66px;
    left: 193px;
    top: 452px;
    font-weight: 600;
    font-size: 57px;
    font-family: "Montserrat";
    margin: 0px;
    color: #fff;
}
.content-headline:nth-child(2){
    display: flex;
    justify-content: center;
    padding-bottom: 69px;
    max-width: 871px;
    min-width: 497px;
    width: 100%;
    max-height: 66px;
    font-weight: bold;
    font-size: 57px;
    font-family: "Montserrat";
    margin: 0px;

    color: #fff;
}
.content-btn button{
    align-items: center;
    display: flex;
    max-width: 406px;
    width: 100%;
    min-height: 85px;
    font-weight: 500;
    font-size: 24px;
    font-family: "Montserrat";
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #fff;
    padding-top: 22px;
    padding-bottom: 23px;
    padding-left: 76px;
    padding-right: 76px;
    cursor: pointer;
    background-color: #1A1919;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px;

}
.content-btn button:hover{
    color: #fff;
    border: 2px solid #fff;
    background-color: #94e817;
    text-decoration: none;
    transition: 0.3s;
}
.content-btn button:active{
    color: #fff;
    border: 1px solid #fff;
    background-color: #111;
    text-decoration: none;
    transition: 0.3s;
}
.content-btn{
    text-decoration: none;
}
.main-content-right{
    background-image: url();
    max-width: 404px;
    height: 386px;
    position: relative;
}
.about-us{
    position: relative;
    background-color: #191a1a;
}
.about-us::before{
    content: "";
    width: 1066px;
    height: 946px;
    position: absolute;
    background-image: url(img/bba.png);
    background-repeat: no-repeat;
    right: 0;
}
.about-us-container{
    display: flex;
    flex-direction: column;
    max-width: 1372px;
    width: 100% ;
    margin: 0 auto;
    min-height: 780px;
    padding-top: 166px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.about-us-headline{
    display: flex;
    font-weight: 400;
    font-size: 69px;
    font-family: "Montserrat";
    color: #fff;
    max-height: 66px;
    margin: 0px;
}
.about-us-text{
    max-width: 1149px;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    font-family: "Montserrat";
    margin-bottom: 0px;
    z-index: 2;
    position: absolute;
}
.btn{
    cursor: pointer;
    color: #999;
    border: 0;
    background: transparent;
    font-size: 25px;
    padding: 15px 0px;
}
.doco{
    max-width: 1149px;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    font-family: "Montserrat";
    display: none;
    margin: 0px;
}
.show{
    display: block;
}
.adv{
    width: 100%;
    background-color: #111;
    min-height: 734px;
}
.adv-container{
    display: flex;
    flex-direction: column;
    max-width: 1372px;
    width: 100% ;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #111;
    min-height: 734px;
}
.adv-headline{
    display: flex;
    font-weight: 400;
    font-size: 64px;
    font-family: "Montserrat";
    color: #fff;
    max-height: 66px;
    margin: 0px;
    padding-top: 122px;
}
.adv-list{
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding-left: 0px;
    gap: 9px;
    padding-bottom: 63px;
}
.adv-item{
    color: #fff;
    list-style-type: none;
    font-weight: 400;
    font-size: 32px;
    font-family: "Montserrat";
}
.adv-button{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-color: #111;
    color: #fff;
    padding: 23px 79px;
    max-width: 428px;
    min-height: 83px;
    font-weight: 400;
    font-size: 36px;
    font-family: "Montserrat";
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.adv-button:hover{
    color: #fff;
    border: 1px solid #1A1919;
    background-color: #1da2b4;
    text-decoration: none;
    transition: 0.3s;
}

.company-fleet{
    padding-top: 93pxpx;
    color: rgba(0, 0, 0, 0.4);
}
.navigation-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 149px;
    padding-right: 20px;
}
b{
   font-weight: 800;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: -0.02em;
   color: rgba(0, 0, 0, 0.8);
   font-family: "Montserrat";
}
span{
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: -0.02em;
   color: rgba(0, 0, 0, 0.8);
   font-family: "Montserrat";
}
.arrows{
   display: flex;
   padding-top: 13px;
   gap: 13px;
}
svg{
    cursor: pointer;
}
main .company-fleet h3{
    font-weight: 400;
    font-size: 46px;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: rgba(35, 31, 32, 0.8); 
}
main .company-fleet h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    max-width: 320px;
    letter-spacing: -0.02em;
    color: rgba(35, 31, 32, 0.6); 
}
main .company-fleet p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #231F20; 
}
main .company-fleet .content {
    display: flex;
    justify-content: center;
    gap: 81px; 
}
main .company-fleet img {
    max-width: 581px;
    height: 492px; 
    object-fit: cover;
    object-position: 0px 0px;
    box-sizing: border-box;
    border-radius: 75px;
}
main .company-fleet .content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
main .company-fleet .section-wrapper{
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #0C0C0C;
    align-items: center;
    text-align: center;
    width: 100%;
}
.footer-container{
    display: flex;
    flex-direction: column;
    max-width: 1372px;
    width: 100% ;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #0C0C0C;
}
.spp{
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    padding-top: 37px;
    padding-bottom: 36px;
    text-decoration: none;
    text-align: left;
    align-items: flex-start;
}
.footer-headline{
    font-weight: 400;
    font-size: 24px;
    font-family: "Montserrat"; 
    color: #fff; 
    margin: 0px;
    padding-bottom: 11px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin: 0px;
    text-align: left;
    padding: 0px;
    padding-left: 3px;
    text-decoration: none;
}
.footer-list a{
    text-decoration: none;
}
.footer-item{
    font-weight: 400;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.3s;
}
.footer-item:hover{
    font-weight: 400;
    font-size: 16px;
    font-family: "Montserrat";
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}
.web-text{
    font-weight: 800;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
    font-family: "Montserrat";
    margin: 0px;
    padding-bottom: 33px;
}
.section-wrapper h2{
    display: flex;
    font-weight: 400;
    font-size: 60px;
    font-family: "Montserrat";
    color: #000;
    max-height: 66px;
    margin: 0px;
    padding-top: 93px;
    padding-bottom: 48px;
}
.content{
    padding-top: 0px;
    padding-bottom: 150px;
}
.content-text_inner h3{
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 46px;
}
.content-text_inner h4{
    margin: 0px;
    font-family: 'Montserrat';
    color: rgba(35, 31, 32, 0.6);
    font-weight: 400;
    font-size: 22px;
    padding-top: 50px;
}
.content-text p{
    max-width: 320px;
    min-height: 38px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-family: "Montserrat";
    margin: 0px;
    padding-top: 31px;
}
.fleet-nav-div{
    display: flex;
    justify-content: space-between;

}